env
.env
venv
.venv
runs
.runs
.vscode/settings.json
media/Tex/d9294a8d6b301b15.log
.datasets/hojas
datasets/hojas
*.pyc
*.pyc
*.pyc
*.pyc
**/__pycache__/ 
*.json
detections
firebase_key.json
*.jpeg
*.JPG
yolo_detections.log
*.log
model/best.pt
model/yolov5nu.pt
logs/service.log
model/yolov8x.pt
main-Giuliano-.py
Dockerfile-Giuliano-
-Giuliano-.gitignore
datasets/*
dataset/2023-11-01_18_08_4/data.yaml
dataset/2023-11-02_15_23_0/training/labels/9ab41826-28d6-45ab-bb87-eaeb249138d3.txt
