env
.env
venv
.venv
runs
.runs
.vscode/settings.json
media/Tex/d9294a8d6b301b15.log
.datasets/hojas
datasets/hojas
*.pyc
*.pyc
*.pyc
*.pyc
**/__pycache__/ 
*.json
detections
firebase_key.json
*.jpeg
*.JPG
yolo_detections.log
*.log
model/best.pt
model/yolov5nu.pt
